.logo
  background-color: lightblue
  width: 100%
  text-align: center
  padding-bottom: 0.2%;

.logo__item
  width: 10%

.nav 
  text-align: center

.nav__menu
  margin-top: 0.5%
  margin-bottom: 0%

.nav__menu__item 
  display: inline-flex

.nav__menu__item__link
  display: block
  text-decoration: none
  color: black
  width: 8vw
  font-size: 1.5vw
  margin: 0.5vw
  padding-top: 0.5vw
  padding-bottom: 0.5vw

.active
  background-color: lightblue
  border-radius: 0 20px 0 20px
  color: white