block variables 
    -
        var listImages = [
        { src: 'Benzopila.jpg', col: '1 / 2', row: '1 / -1' },
        { src: 'Benzopila-top.jpg', col: '2 / 4', row: '1 / 2' },
        { src: 'Satoru.jpg', col: '2 / 3', row: '2 / 3' },
        { src: 'Tabziro.jpg', col: '3 / 4', row: '2 / 3' },
        { src: 'Naruto.jpg', col: '2 / 3', row: '3 / 4' },
        { src: 'BlackClover.jpg', col: '3 / 4', row: '3 / 4' }
        ]