div.logo 
    img.logo__item(src= require("../images/Logo.png"))

div.nav
    ul.nav__memu
        li.nav__menu__item
            a(class="nav__menu__item__link active") Главная
        li.nav__menu__item
            a.nav__menu__item__link Каталог
